$lightGreen: #b9e7e7;
$bluishGray: rgb(96, 119, 124);
$grayishBrown: rgb(163, 153, 145);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    background-color: $grayishBrown;

    .link {
      text-decoration: none;
      color: inherit;
    }

    //LOGIN & REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $bluishGray;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        background-color: white;
        gap: 20px;

        input {
          padding: 1rem;
          border: none;
          border-bottom: 1px solid gray;
          outline: none;
        }
        button {
          color: white;
          background-color: teal;
          border: none;
          padding: 0.7rem;
          font-size: 1.2rem;
        }
        div {
          p {
            padding: 1rem;
            color: red;
          }
          span {
            font-size: 1rem;
            text-align: center;
            padding: 1rem;
          }
        }
      }
    }

    //NAVBAR
    .Navbar {
      width: 100%;
      position: fixed;
      top: 0;
      background-color: $bluishGray;
      z-index: 10;

      .nav-contents {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem 1.5rem 1rem;
        align-items: center;
        background-color: $bluishGray;

        .logo {
          img {
            height: 45px;
          }
        }

        .categories {
          display: flex;
          gap: 25px;

          h6 {
            font-size: 0.9rem;
            font-weight: 300;
          }
        }

        .links {
          display: flex;
          align-items: center;
          gap: 25px;
          span {
            cursor: pointer;
          }
          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            transition: 0.3s;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }
    //FOOTER
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $bluishGray;
      .footer-container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;

        img {
          width: 100px;
          border-radius: 3px;
        }
      }
    }

    //HOME
    .posts {
      max-width: 1200px;
      margin: auto;
      margin-top: 6rem;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .post {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        transition: 0.3s;

        &:hover {
          box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.2);
        }

        .img {
          img {
            height: 100%;
            max-width: 200px;
            object-fit: cover;
            border-radius: 3px;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h1 {
            font-style: 48px;
          }
          p {
            font-style: 18px;
          }
          .btn {
            text-align: right;
            button {
              width: max-content;
              padding: 12px 20px;
              border-radius: 3px;
              font-size: 1rem;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;
              transition: 0.3s;

              &:hover {
                background-color: $lightGreen;
                border: 1px solid white;
                color: black;
              }
            }
          }
        }
      }
    }
    //Single

    .Single {
      max-width: 1200px;
      margin: auto;
      margin-top: 7rem;
      display: flex;
      gap: 50px;
      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;
        img {
          width: 100%;
          max-height: 400px;
          object-fit: cover;
        }
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-style: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-weight: bold;
          }
          .edit {
            display: flex;
            gap: 5px;

            img {
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
        }
        h1 {
          font-size: 42px;
          color: #333;
        }
        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-style: 20px;
          color: #555;
        }
        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            max-height: 350px;
            width: 100%;
            object-fit: cover;
          }
          h2 {
            color: #555;
          }
          button {
            width: max-content;
            padding: 10px 20px;
            cursor: pointer;
            background-color: white;
            border: 1px solid teal;
            color: teal;
            transition: 0.3s;

            &:hover {
              background-color: $lightGreen;
              border: 1px solid white;
              color: black;
            }
          }
        }
      }
    }
    //WRITE
    .Write {
      max-width: 1200px;
      margin: auto;
      margin-top: 10rem;
      display: flex;
      gap: 20px;
      height: 100vh;
      padding: 1rem;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 60vh;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }
        .editorContainer {
          background-color: rgb(255, 255, 255);
          height: 400px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 50vh;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1 {
            font-size: 20px;
          }
          .file {
            text-decoration: underline;
            cursor: pointer;
          }
          .buttons {
            display: flex;
            justify-content: space-between;
            :first-child {
              border: 1px solid teal;
              cursor: pointer;
              padding: 3px 5px;
              background-color: #fff;
              border-radius: 2px;
              color: teal;
            }
            :last-child {
              border: 1px solid #fff;
              cursor: pointer;
              padding: 3px 5px;
              background-color: teal;
              border-radius: 2px;
              color: #fff;
            }
          }
          .cat {
            display: flex;
            align-items: center;
            color: teal;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .App {
    .container .posts {
      grid-template-columns: 1fr;

      .post {
        flex-direction: column;

        .img {
          margin: auto;
          img {
            max-width: 300px;
          }
        }
        .content {
          gap: 1rem;
        }
      }
    }
  }
}
